
<div>
  Username: <input type="text" [(ngModel)]="username">
  Password: <input type="password" [(ngModel)]="password">
  <button (click)="handleLogin()">Login</button>
</div>

  <!--
 [(ngModel)]="username"
  [(ngModel)]="password"
<div>
  Username: <input type="text" [(ngModel)]="username">
  Password: <input type="password" [(ngModel)]="password">
  <button (click)="handleLogin()">Login</button>
</div>


<html>
<body>
<form>

<div ng-app="validationApp">
  <form ng-controller="ValidationCtrl">
    <input type="password" ng-model="password" required='' />
    <input type="password" ng-model="repeat-password" required='' />
    <input type="submit" />
  </form>
</div>



</form>

</body>
</html>

      <input type="text" id="login" name="login" >
    <input type="password" id="password" name="password" >


    <button (click)="">Войти</button>



-->







