
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="#">Projict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-target="#example" data-toggle="toast">Brench</a>
          </li>

      <!--    <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Войти</a>
          </li>
-->
            <li class="nav-item">
              <a class="nav-link" href="log" >Войти</a>
            </li>
            log

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Part projict</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



  <div class="modal fade" id = "exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <h5>Modal TITLE</h5>
      <button type="button" class="btn-close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&time</span>
      </button>
    </div>
  </div>


  <div class="toast" id = "example" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      Hello, world! This is a toast message.

      <div class="mt-2 pt-2 border-top">

        <button type="button" class="btn btn-primary btn-sm">Take action</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
      </div>
    </div>
  </div>
