
<!--

-->

<p>test works!</p>

<button (click)="get_s()"> get_s </button>

<button (click)="add()"> ADD </button>

<ul>
  <thead>
  <th>Name</th>
  <th>Index</th>
  </thead>
  <li *ngFor="let user of DT">
    <p>{{user?.id}} | {{user?.login}}</p>
  </li>
</ul>

<!--

<table>
  <thead>
  <th>Name</th>
  <th>Index</th>
  </thead>
  <tbody>
  <tr *ngFor="let user of DT">
    <td>{{user?.id}}</td>
  </tr>
  </tbody>
</table>

-----------------

<table>
    <tr>
      <th *ngFor="let column of subTableColumns">{{ column }}</th>
    </tr>
    <tr *ngFor="let row of subTableData">
      <td align=center *ngFor="let column of subTableColumns">{{ row[column] }}</td>
    </tr>
  </table>

---------------


<ul>
  <li *ngFor="let user of DT">
    <p>ID пользователя: {{user?.id}}</p>
    <p>Login пользователя: {{user?.login}}</p>
  </li>
</ul>

-->


