<p>viw-rpoj works!</p>

<button (click)="get_all()"> get_s </button>



<ul>
  <thead>
  <th>Name</th>
  <th>Index</th>
  </thead>
  <li *ngFor="let date of DT">

    {{date.name}}
    <a  routerLink = "/log" [queryParams]="{'product':'phone', 'price': {{date.name}}}">{{date.name}}</a>

    <!--
 <a  routerLink = "/brn" [queryParams]="{idd:'{{date.name}}'}">{{date.name}}</a>
<a routerLink = "/log" routerLinkActive="active" >Logout</a>

<a  routerLink= "/log" >Hello!!!</a>
<a  routerLink = "/log" [queryParams]="{idd:222}">Hello!!!</a>


     <a  routerLink = "/brn" [queryParams]="{idd:11}">{{date.name}}</a>
        <a  routerLink = "/brn" [queryParams]="id:{{date.name}}">{{date.name}}</a>---------
    <a  routerLink = "/log" [queryParams]="{idd:222}">Hello!!!</a>
    <a  routerLink = "/log&fff=1" routerLinkActive="active" >{{date?.name}}</a>----
     <a  routerLink = "/log" routerLinkActive="active" >{{date?.name}}</a>
    -->

  </li>
</ul>


<!--
 <p>{{date?.name}} | {{date?.part}}</p>
<a (click)="chek_prj()">Logout</a>
    <a [routerLink]="['/log', 'fff']"> Link </a>
<a  routerLink = "/log" routerLinkActive="active" >{{date?.name}}</a>
 <a href="?ttt=10" routerLink = "/log,{{date?.name}}" routerLinkActive="active" >{{date?.name}}</a>
   <a  [routerLink] = "['/log',12]" routerLinkActive="active" >{{date?.name}}</a>
-->
